<!DOCTYPE html>
<html>
  <head>
    <style>
      #banner{
  display: block;
  background: #ffb3b3;
  position: fixed;
  z index: 2;
  padding: 5px;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  width: 100%;
  height: 90px;
  
  
}    
p{
  z index: 12;
}
.titleandcat {
  font-family: 'Poiret One'; 
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}
li.titleandcat {
    float: left;
}
li.titleandcat a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}
.bannerinfo {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.link{
  margin-left: 30px; 
  color: #ffb3b3;
  font-weight: bold;
  
}
#health{
  font-weight: bold;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 150px;
}
.sub_topic{
  font-family: "Poiret One";
  color: white;
  background: rgb(155, 242, 210);
  text-align: center;
  padding: 15px;
  font-weight: bold;
}
#intro{
  text-align: center;
  padding: 7px;
  margin: 20px;
}
#contents{
  font-family: "Poiret One";
  margin-left: 15px;
  font-weight: bold;
  
}
.question{
  font-family: "Poiret One";
  margin-left: 20px;
}
p{
  margin-left: 20px;
  text-indent: 50px;
}
#arrow_pic{
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
}
#table_of_contents{
  text-align: center;
  background: rgb(155, 242, 210);
  padding: 10px;
}
#table_of_contents a {
  color: black;
}

    </style>
    
    <!--HTML--> 
        <title> Health: b a l a n c E D </title> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head> 
  <body>
    <div id="banner">
      <nav> 
      <ul id="navbar">
        <li class="titleandcat"><a class="bannerinfo" href="/home"> <h1 class="titleandcat">b a l a n c E D </h1></a></li> 
        <li class="titleandcat"><a class="bannerinfo" href="/about_us"><h4 class="titleandcat">ABOUT US</h4></a></li> 
       <li class="titleandcat"><a class="bannerinfo" href="/quiz"><h4 class="titleandcat">QUIZ</h4></a></li> 
        <li class="titleandcat"><a class="bannerinfo" href="/health"><h4 class="titleandcat">HEALTH</h4></a></li>
        <li class="titleandcat"><a class="bannerinfo" href="/deaf"><h4 class="titleandcat">SPECIAL ED</h4></a></li>
        <li class="titleandcat"><a class="bannerinfo" href="/tips"><h4 class="titleandcat">STUDY TIPS </h4></a></li> 
        <li class="titleandcat"><a class="bannerinfo" href="/inspo"><h4 class="titleandcat">INSPO</h4></a></li>
      </ul>
     </nav>
    </div><br><br><br><br>

    
    <a href="#health">
  <img id ="arrow_pic" src="http://www.creativehunt.co/wp-content/uploads/2016/02/Arrow-Up-Simple-300x300.png" alt="Link Arrow">
    </a>
    <div id = "health" style="background-image: url(https://i.pinimg.com/originals/88/f3/ef/88f3ef0c5596bcd3d2245fdc350cedca.jpg)"><b> H E A L T H | AND | W E L L – B E I N G</b></div>
    <p id="intro">As a full-time student, it can often be very difficult to maintain a healthy lifestyle. Nevertheless, the components of a healthy lifestyle, including both mental and physical health, are imperative for students to function properly in academic and social situations. This page contains explanations, tips, and resources for students to maintain their overall health amongst everyday stressors.</p>

  <div id = "table_of_contents" style="background-image: url(https://cdn.wallpapersafari.com/23/56/RuUSkz.png)">
    
    <h2 id="contents">Page Contents:</h2>
    <li class = "link"><a href = "#mental">Mental Health</a></li><br>
    <li class = "link"><a href = "#physical">Physical Health</a></li><br>
    <li class = "link"><a href = "#resources">Helpful Resources</a></li>
  </div>
    <br>
    <h1 id="mental"></h1><br><br><br><br>
    <h2 class= "sub_topic">Mental Health</h2>
      <h3 class = "question">What <i>is</i> mental health?</h3>
      <p>Mental health includes the state of one's mind in relation to social, emotional, and psychological factors. It can determine how one will handle stress, socialize with others, and make important decisions. Thus, maintaining mental health is imperative for life's everyday tasks. However, for students, maintaining sound mental health can often seem impossible with the neccessity of strenuous school work, activities, and social interactions.</p>
      <h3 class = "question">What can you do to maintain mental health?</h3>
      <ul>
        <li>Reflect on the most important things in your life</li>
          <p><i>Put things that are important in your life above those that are not. Using the things that you find most important, you can re-evalute your definition of success. Doing so can leave you more mindful of the things that will leave you most happy in life.</i></p>
        <li>Meditate</li>
          <p><i>Meditation can help to maintain your mental health extensively, because it allows you to live in the moment and appreciate life's greatest moments. Guided meditation is especially useful because it balances human interaction with the peaceful qualities of meditation. The videos below range from 5 minutes long (perfect for busy days) to a 3-hour long compilation of sleep meditations.</i></p>
        
        <iframe width="300" height="200" src="https://www.youtube.com/embed/dEzbdLn2bJc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/4EaMJOo1jks" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/2s5DmT6sinU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/wsB_TnQfCxA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        
        <li>Surround yourself with good people</li>
          <p><i>Being surrounded by positive people, who genuinely care about you is essential to your mental health. Such positivity could generate positive emotions in your mind, as opposed to the negative emotions that can stem from negativity in those around you, and hinder your mental health.</i></p>
        
        <li>Set realistic goals</li>
          <p><i>Sometimes, as students, we tend to set goals that are either too difficult to accomplish, or just completely out of our reach. In order to maintain good mental health patterns, it is important to set goals that will be attainable, yet would still be considered accomplishments if you succeed.</i></p>
        <li>Maintain physical health</li>
          <p><i>Physical and mental health go "hand–in–hand". Thus, by maintaining your physical health, you can contribute to your good mental strength. Some ways of maintaining your physical health are outlined <a href = "#physical">below</a>.</i></p>
      </ul>
      <h3 class = "question">What can interfere with good mental health?</h3>
    <ul>
      <li>Pressure from others to succeed</li>
        <p><i>Sometimes, feeling pressured by family members and friends can disrupt your mental health. In order to maintain mental health amidst such pressure, it is often best to discuss the pressure with whomever is the cause. Doing so would give you the closure you need to have a sound mentality.</i></p>
      <li>Negative attitudes from those around you</li>
        <p><i>Negativity is often the biggest cause of stress and mental health deficiency in human interactions. To prevent this interference with positivity and mental health, you can spend less time with those who cause this negativity. Also, you can try to practice <a href = "https://www.huffingtonpost.com/faisal-hoque/7-ways-to-practice-positivity-and-optimism-every-day_b_5606981.html" target = "_blank">positivity</a> in your everyday life, which can enhance your mental health.</i></p>
      <li>Overuse of technology</li>
        <p><i>In today's world, technology is present in practically every aspect of life. Thus, it almost seems unfair that such technology could have a negative impact on mental health. Nevertheless, in order to enhance your mental health, you can try to practice a <a href= "https://www.huffingtonpost.com/2014/03/07/what-to-expect-from-your-_0_n_4899237.html" target = "_blank">technology detox</a>.</i></p>
      <li>Mental illness</li>
      <p><i><a href= "https://www.psychiatry.org/patients-families/what-is-mental-illness" target = "_blank">Mental illnesses</a>, which can include anything from Autism Spectrum disorder, to ADHD, to eating disorders. Mental illnesses are prevalent in such a large quantity of the population, and should be treated with the utmost care and respect. Depending on the type of mental illness, certain <a href="https://www.nami.org/find-support/nami-helpline/top-25-helpline-resources" target = "_blank">resources</a> can help those affected by it.</i></p>
    </ul>
    
    
    <h1 id="physical"><br><br> </h1>
    <h2 class= "sub_topic">Physical Health</h2>
      <h3 class = "question">What <i>is</i> physical health?</h3>
      <p>Physical health includes the state of one's and the way in which it is treated. As a student, it can often be difficult to fit both exercise and healthy eating into a busy day. Nevertheless, exercise and a healthy diet can not only improve physical health, but also mental health.</p>
      <h3 class = "question">What can you do to maintain physical health?</h3>
        <ul>
          <li>Exercise regularly!</li>
            <ul>
              
              <li>Check out <a href= "https://www.blogilates.com/workout/" target = "_blank">websites</a> that have various workouts for you to try, so that you can find what works best for you!</li>
              <li>Check out <a href= "https://www.nerdfitness.com/blog/how-to-build-your-own-workout-routine/" target = "_blank">articles</a> that discuss various workout techniques, to get the point of view of someone on the same path as you!</li>
              <li>Check youtube for single workouts!</li><br>
              <iframe width="300" height="200" src="https://www.youtube.com/embed/UBMk30rjy0o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <iframe width="300" height="200" src="https://www.youtube.com/embed/_ZqtZSuh5Rk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <iframe width="300" height="200" src="https://www.youtube.com/embed/sAapLQCASOE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <iframe width="300" height="200" src="https://www.youtube.com/embed/qWy_aOlB45Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </ul>
          <br><br>
          <li>Maintain a healthy diet!</li>
          <ul>
            <li>The best way to eat healthy is to follow recipes that use all-natural ingredients. Check out youtube, or your favorite food network for potential recipes! Here are some of our favorites:</li><br>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/ePdr4pgvpD8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/NznGzWrVBx4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/2MvVU_fXtrI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/vmdITEguAnE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/HJWpQb1bexc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/c2H1ardps54" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/lgnQLP962Tw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/Tjm0mNNvub0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </ul>
        </ul>
    
   <h1 id="resources"><br><br> </h1>
    <h2 class= "sub_topic">Helpful Resources</h2>
      <ul>
        <li><a href="http://www.mentalhealthamerica.net/back-school" target = "_blank">Back to School</a> Mental Health Tips</li>
        <li><a href="https://www.mentalhealth.gov/basics/what-is-mental-health" target = "_blank">What is Mental Health?</a></li>
        <li><a href="https://shcs.ucdavis.edu/wellness/physical" target = "_blank">Physical wellness</a> Tips</li>
        <li><a href="https://headtohealth.gov.au/meaningful-life/physical-health" target = "_blank">Physical Health</a></li>
        <li>How to live a <a href=" https://www.health.harvard.edu/blog/healthy-lifestyle-5-keys-to-a-longer-life-2018070514186" target = "_blank">healthy lifestyle</a></li>
        <li>How to break bad habits and live a <a href=" http://www.heart.org/HEARTORG/HealthyLiving/How-to-Change-Bad-Habits-and-Live-a-Heart-Healthy-Lifestyle_UCM_434369_Article.jsp#.W2Re2y2ZO8U" target = "_blank">heart-healthy lifestyle</a></li>
        <li><a href="https://www.nhs.uk/live-well/eat-well/eight-tips-for-healthy-eating/" target = "_blank">Tips </a>to maintain a healthy diet</li>
        <li><a href="https://www.betterhealth.vic.gov.au/health/ten-tips/10-tips-to-exercise-safely" target = "_blank">Tips </a>for safe exercise</li>

      </ul>
  </body>
</html>
