<!DOCTYPE html>
    
    <head>
      <style>
          
      #banner{
  display: block;
  background: #ffb3b3;
  position: fixed;
  z index: 2;
  padding: 5px;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  width: 100%;
  height: 90px;
  
  
}    
p{
  z index: 12;
}
.titleandcat {
  font-family: 'Poiret One'; 
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}
li.titleandcat {
    float: left;
}
li.titleandcat a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}
 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

        /*body{*/
        /*  color: rgb(155, 242, 210);*/
        /*  background-color: gray;*/
        /*}*/
      </style>
    </head>
    
    <body>
       <title> Health: b a l a n c E D </title> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head> 
  <body>
    <div id="banner">
      <nav> 
      <ul id="navbar">
        <li class="titleandcat"><a href="//"> <h1 class="titleandcat">b a l a n c E D </h1></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">ABOUT US</h4></a></li> 
       <li class="titleandcat"><a href="//"><h4 class="titleandcat">QUIZ</h4></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">HEALTH</h4></a></li>
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">SPECIAL ED</h4></a></li>
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">STUDY TIPS </h4></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">INSPO</h4></a></li>
      </ul>
     </nav>
    </div><br><br><br><br>
      
      
      
      <p><b>1.</b> When you hear the word "horse" do you...</p>
        <form action="/quizresults" method="post">
  <input type="radio" name="horse" value="1"> Picture a horse.<br>
  <input type="radio" name="horse" value="2"> Say "horse".<br>
  <input type="radio" name="horse" value="3"> Imagine riding a horse.

      <p><b>2.</b> What kind of books do you enjoy reading?</p>
  <input type="radio" name="books" value="1"> Books with many pictures.<br>
  <input type="radio" name="books" value="2"> Books with only words.<br>
  <input type="radio" name="books" value="3"> Books with wordsearches or puzzels.
      
      <p><b>3.</b> How would you go about learning Fortnite (or any video game)?</p>
  <input type="radio" name="Fortnite" value="1"> Get a friend to teach you.<br>
  <input type="radio" name="Fortnite" value="2"> Read a tutorial.<br>
  <input type="radio" name="Fortnite" value="3"> Just go for it and learn along the way.
      
      <p><b>4.</b> How would you go about spelling a word?</p>

  <input type="radio" name="spell" value="1"> Write it out to see if it looks right.<br>
  <input type="radio" name="spell" value="2"> Spell it out loud.<br>
  <input type="radio" name="spell" value="3"> Trace the letters.

      
      <p><b>5.</b> What would you most likely remember from a party the next day?</p>
  <input type="radio" name="party" value="1"> The faces of the guests.<br>
  <input type="radio" name="party" value="2"> The music that was played.<br>
  <input type="radio" name="party" value="3"> The dance moves you pulled out on the dance floor or the food you ate.
      
      <p><b>6.</b> What distracts you?</p>
  <input type="radio" name="distractions" value="1"> People walking past you.<br>
  <input type="radio" name="distractions" value="2"> Music.<br>
  <input type="radio" name="distractions" value="3"> Sitting in an extremely cold or hot room.

      
      <p><b>7.</b> What do you do to relax?</p>
  <input type="radio" name="relax" value="1"> Read.<br>
  <input type="radio" name="relax" value="2"> Listen to music.<br>
  <input type="radio" name="relax" value="3"> Exercise.

      
      <p><b>8.</b> How would you go about giving someone directions?</p>
  <input type="radio" name="directions" value="1"> Draw them a map.<br>
  <input type="radio" name="directions" value="2"> Provide them with verbal directions.<br>
  <input type="radio" name="directions" value="3"> Go with them.

      <p><b>9.</b> What is your favorite social media platform?</p>
  <input type="radio" name="media" value="1"> YouTube.<br>
  <input type="radio" name="media" value="2"> Twitter.<br>
  <input type="radio" name="media" value="3"> Snapchat.

      
      <p><b>10.</b> What is you favorite type of lesson?</p>
  <input type="radio" name="lesson" value="1"> Note taking and video watching.<br>
  <input type="radio" name="lesson" value="2"> Lecture.<br>
  <input type="radio" name="lesson" value="3"> Experiment.
  
  <br><br>
  <button type = "submit" class="new"> Click to see your learning style! </button>
</form>
    </body>
    
</html>