<!DOCTYPE html> 
<html> 
  <head> 
    <style>
      #sectiontitle {
    font-family: sans-serif;
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 40px;
}
#sectionblurb {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: 990;
    font-size: 30px;
    
}
#arrow_pic{
    float: right;
    height: 50px
    
}
#banner{
  display: block;
  background: #ffb3b3;
  position: fixed;
  z index: 2;
  padding: 5px;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  width: 100%;
  height: 90px;
  
  
}    
p{
  z index: 12;
}
.titleandcat {
  font-family: 'Poiret One'; 
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
}
li.titleandcat {
    float: left;
}
li.titleandcat a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}
#navbar a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#midsectionblurb {
   text-align: center;
   font-family: 'Poiret One';
   font-weight: 990;
}
#midsectionblurb a {
    color: #ffb3b3;
  
}
#title {
  padding: 150px;
}
.titleandcat a {
   color: white;
}
#generaltips {
    text-align: center;
    font-family: 'Poiret One';
    font-weight: bolder;
}
#content{
    padding:0 15% 15% 15%;
}
#arrow{
    float:right;
}
#footer {
    display: block;
    background:#102e1f;
    width: 100%;
    height:100;
}
#trickstitle {
    text-align: center;
    font-family: 'Poiret One';
    font-weight: bolder;
}
.maintip {
    font-size: 30px;
    font-family: 'Poiret One';
    list-style-type: none;
    padding: 10px;
    text-decoration: underline;
    
}
.maintip a {
     color: black;
}
.maintip a:hover{
    color: #ffb3b3
}
p {
    font-size:18px;
    padding-bottom: 10px;
    
}
#quizl{
    color: #ffb3b3;
}

    </style>
    <title> Study Tips: b a l a n c E D </title> 
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head> 
  <body>
    <div id="banner">
      <nav> 
      <ul id="navbar">
        <li class="titleandcat"><a href="//"> <h1 class="titleandcat">b a l a n c E D </h1></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">ABOUT US</h4></a></li> 
       <li class="titleandcat"><a href="//"><h4 class="titleandcat">QUIZ</h4></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">HEALTH</h4></a></li>
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">SPECIAL ED</h4></a></li>
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">STUDY TIPS </h4></a></li> 
        <li class="titleandcat"><a href="//"><h4 class="titleandcat">INSPO</h4></a></li>
      </ul>
     </nav>
    </div><br><br><br><br>
    <div id ="title" style="background-image: url(https://i.pinimg.com/564x/5b/42/f1/5b42f1544f996f088407e852e48b83ba.jpg)">
      <h1 id ="sectiontitle"> ↢ S T U D Y    T I P S ↣ </h1> <br> 
      <p id="sectionblurb"> Your free guide for all the study help you need </p>
    </div> <br> <br>
    <div id="content">
      <h2 id="trickstitle"> Tips and Tricks </h2> 
      <ul>
        <li class="maintip">Take our Learning Style <a href="//">Quiz</a></li>
        <p> A major part of effective study is knowing how you learn. This will help you to choose/focus on material that will optimize your chances of being a successful student. So take our <a href="//" id="quizl">Quiz</a> to start your journey of being the best learner you can be.</p> 
        <li class="maintip">Study in frequent small chunks of time  </li>
        <p> Avoid last minute cramming. Instead, try to study at least one week in advance of a test or exam. Study in burst of time ranging from 20-30 minutes.</p> 
        <li class="maintip"> Take breaks during your study sessions.</li>
          <p> During your study sessions, take breaks between every 25-30 minute chunk. Take this time to stretch, eat, or clear your mind. These breaks should be no longer than 15 minutes. This will help avoid completely distracting you from your studying.</p> 
        <li class="maintip">Teach others the material you have learned </li>
        <p> Try relating information you have learned to a friend or family member. This will better help you better internalize information you have learned. This will also help to store learned material in your long term memory. </p> 
        <li class="maintip">Arrange study groups with fellow students and friends </li>
        <p> Some students may find it hard to stay focused when studying solo. One solution is to organize a study group with friends or fellow classmates. This will help to maintain moral and can also serve as source of helpful collaboration. </p>
      </ul> 
    </div>

  </body> 
</html>